* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
} 

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5em;
}

html{
    scroll-behavior:smooth;
}

#navbar a:hover{
    color:#223546;
    text-shadow: 0.5px 0.5px 10px #aec0c7;
    transition: all 0.5s ease;
}


#navbar{
    display:flex;
    align-items:center;
    background-color:#C4D7DF;
    /* background-color:#8bb3c7; */
    padding: 10px 180px;
}

.logo h1{
    font-size:20px;
    color:#223546;
    /* color:#2f4e87; */
    padding-top:5px;
}

.nav-container{
    width:50%;
    margin-left:40px;
    overflow:hidden;
    padding-top:5px;
    margin-right:80px;
}

.container{
    display:flex;
    width: 80%;
    margin:auto;
    overflow:hidden;
}



#signup{
    color:white;
    background-color: #4c819c;
    padding:10px 12px;
    /* margin-left:5px; */
    font-size: 18px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    border-style: none;
    border-radius:5px;
}

#signup:hover{
    background-color:#223546;
    transition: all 0.3s ease;
}

#appointment{
    color:white;
    background-color: #4c819c;
    margin-top:40px;
    padding:15px 20px;
    font-size: 20px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    border-style: none;
    border-radius:5px;
}

#appointment:hover{
    background-color:#223546;
    transition: all 0.3s ease;
}

#appointment a{
    text-decoration:none;
    color:#fff;
}

#navbar ul{
    list-style:none;
}

#navbar li{
    display:inline;
    font-weight: bold;
}

#navbar a{
    color:#5d7882;
    text-decoration:none;
    font-size:18px;
    padding-right:25px;
    /* transition: all 0.3s ease; */
}


.hero-section{
    background-color:#E5EFF3;
    color:#223546;
    padding-top:50px;
    padding-bottom: 20px;
}

.hero-section h1{
    padding-top:50px;
    padding-bottom:30px;
    line-height: 1.2em;
    font-size: 35px;
}

.hero-section p{
    line-height: 1.7em;
    font-size: 18px;
}

#intro{
    /* background-color: white; */
    font-size:22px;
    display:table;
    width: 55%;
    margin: 0 40px;
    padding-left:40px;
    padding-top:15px;
}

#intro-img{
    /* background-color: lightblue; */
    /* padding:0px;
    width:30%;
    margin:0px; */

    margin: 0;
    padding: 0;
}

#main-footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding:20px;
}

.cards{
    margin-top:-90px;
    /* padding-bottom:200px; */
    display:flex;
}

.cards .container{
    width:70%;
}

.cards .card{
    margin:30px;
    background-color:#fafeff;
    padding:15px;
    border-radius:5px;
    box-shadow: 7px 7px 10px #8f9394;
    text-align:center;
    transition: transform .5s;
}

.card:hover{
    transform: scale(1.1);
}

.cards .card h2{
    padding-top:10px;
    padding-bottom:px;
}

.about{
    padding-top:175px;
    padding-bottom:170px;
    display:flex;
    width:80%;
    margin:auto;
}

.about #about-img{
    padding-right:90px;
}

#about-desc h2{
    padding-top:15px;
    padding-bottom:12px;
}

#about-desc h1{
    display:flex;
    font-size:30px;
    padding-bottom:20px;
}

#about-desc p{
    padding-bottom:0px;
}

.aboutcards{
    padding-top:25px;
}

.about-card-container{
    /* background-color: black; */
    display:flex;
    justify-content:center;
}


#about-desc .about-card{
    display:flex;
    background-color:#5d8fa8;
    color:white;
    width:35%;
    margin-right:10px;
    margin-bottom:10px;

    text-align:center;
    border-radius:5px;
}

.about-card:hover{
    box-shadow: 2px 2px 20px 0px #5d8fa8;
}

.about #about-img img{
    border-radius:10px;
}


.info-grid{
    background-color:red;
    /* font-family: 'Open Sans', sans-serif;
    font-size:16px; */
    height:100vh;
    display:grid;
    grid-template-areas:
    'leftside1 header1 form1 rightside1'
    'leftside2 about form1 rightside2';
    grid-template-columns:1fr 3fr 1.4fr 1fr;
    grid-template-rows:auto 5fr;
}

.info-grid .info-header,.info-form,.right1,.info-about,.right2,.left1,.left2{
    padding:30px 10px;
    /* border:black 2px solid; */
}

.info-grid h1,h2{
    padding-bottom:15px;
}

.info-header{
    grid-area:header1;
    background-color:#223546;
    color:#fff;
}

.info-form{
    grid-area:form1;
    background-color:#fff;
    border:#0f0b1f solid 2px;
    /* border-top:#0f0b1f solid 50px; */
    /* border-bottom:#0f0b1f solid 20px; */
    padding:30px 20px;
}

.info-about{
    grid-area:about;
    background-color:#E5EFF3;
}

.info-about ul{
    list-style:none;
    line-height:2em;
    padding-left:20px;
}

.info-about li::before{
    content:"\2713";
    font-weight:bold;
    padding-right:10px;
}


.left1{
    grid-area:leftside1;
    background-color:#223546;
}

.left2{
    background-color:#E5EFF3;
}

.right1{
    grid-area:rightside1;
    background-color:#223546;
}

.right2{
    background-color:#E5EFF3;
}

.info-grid .info-form .fill{
    padding-bottom:15px;
}

.info-grid .fill input{
    height:30px;
}

.info-grid input{
    width:100%;
}

.info-grid input#submit-form{
    height:40px;
}